{
	"parserOptions": {
		"sourceType": "module",
	},
	"plugins": [
		"react",
	],
	"extends": [
		"es2015",
		"eslint:recommended",
		"plugin:react/recommended",
	],
	"ecmaFeatures": {
		"jsx": true,
        "modules": true,
	},
	"globals": {
		"module": false,
		"console": false,
		"document": false,
	},
	"rules": {
		"no-console": 0,
	},
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
    },
}